.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
}
.checkoutProduct:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.236); 
}
.checkoutProduct__info{
    padding-left: 20px;
    

}
.checkoutProduct__info > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    

}
.checkoutProduct__info>button:hover{
    background-color: orange;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 0 11px rgba(0, 238, 255, 0.686);
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 15px;
    font-weight: 500;
}

