.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}
.product>img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button{
    background: #cd9042;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
    top: 0;
}
.product__price{
    margin-top: 5px;
}
.product__rating{
    margin-bottom: 20px;
    display: flex;
}

.product:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.product__addToButton:hover{
    background-color: orange;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 0 11px rgba(0, 238, 255, 0.686);   }